package ${packageName}.service;

import com.bocoo.common.mybatis.core.page.PageQuery;
import com.bocoo.common.mybatis.core.page.TableDataInfo;
import com.bocoo.common.mybatis.core.service.IBaseService;
import ${packageName}.domain.bo.${ClassName}Bo;
import ${packageName}.domain.entity.${ClassName};
import ${packageName}.domain.vo.${ClassName}Vo;

import java.util.Collection;
import java.util.List;

/**
 * ${functionName} service interface
 *
 * @author ${author}
 */
public interface I${ClassName}Service extends IBaseService<${ClassName}, ${ClassName}Vo> {

    /**
     * Query ${functionName} page list
     *
     * @param bo        query criteria
     * @param pageQuery page parameters
     * @return page data
     */
    TableDataInfo<${ClassName}Vo> queryPageList(${ClassName}Bo bo, PageQuery pageQuery);

    /**
     * Query ${functionName} list
     *
     * @param bo query criteria
     * @return ${functionName} list
     */
    List<${ClassName}Vo> queryList(${ClassName}Bo bo);

    /**
     * Insert by business object
     * @param bo business object
     * @return whether the operation succeeded
     */
    Boolean insertByBo(${ClassName}Bo bo);

    /**
     * Update by business object
     * @param bo business object
     * @return whether the operation succeeded
     */
    Boolean updateByBo(${ClassName}Bo bo);

    /**
     * Delete by ids with optional validation
     * @param ids primary key collection
     * @param isValid whether to validate before deleting
     * @return whether the operation succeeded
     */
    Boolean deleteWithValidByIds(Collection<Long> ids, Boolean isValid);

     /**
     * Update ${functionName} status
     *
     * @param id ${functionName} primary key
     * @param status status value
     * @return updated row count
     */
    int updateStatus(Long id, String status);

}
