package ${packageName}.service;

import com.bocoo.common.mybatis.core.page.PageQuery;
import com.bocoo.common.mybatis.core.page.TableDataInfo;
import com.bocoo.common.mybatis.core.service.IBaseService;
import ${packageName}.domain.bo.${ClassName}Bo;
import ${packageName}.domain.entity.${ClassName};
import ${packageName}.domain.vo.${ClassName}Vo;

import java.util.Collection;
import java.util.List;

/**
 * ${functionName} 服务接口
 *
 * @author ${author}
 */
public interface I${ClassName}Service extends IBaseService<${ClassName}, ${ClassName}Vo> {

    /**
     * 查询${functionName}列表（分页）
     *
     * @param bo        查询条件
     * @param pageQuery 分页参数
     * @return 分页数据
     */
    TableDataInfo<${ClassName}Vo> queryPageList(${ClassName}Bo bo, PageQuery pageQuery);

    /**
     * 查询${functionName}列表
     *
     * @param bo 查询条件
     * @return ${functionName}列表
     */
    List<${ClassName}Vo> queryList(${ClassName}Bo bo);

    /**
     * 根据业务对象新增
     * @param bo 业务对象
     * @return 是否成功
     */
    Boolean insertByBo(${ClassName}Bo bo);

    /**
     * 根据业务对象修改
     * @param bo 业务对象
     * @return 是否成功
     */
    Boolean updateByBo(${ClassName}Bo bo);

    /**
     * 批量删除并校验
     * @param ids 主键集合
     * @param isValid 是否校验
     * @return 是否成功
     */
    Boolean deleteWithValidByIds(Collection<Long> ids, Boolean isValid);

     /**
     * 修改${functionName}状态
     *
     * @param id ${functionName}主键
     * @param status 状态值
     * @return 更新记录数
     */
    int updateStatus(Long id, String status);

}
