<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bocoo.merchant.mapper.CustomerQuoteItemMapper">
    <select id="selectItemCounts" resultType="com.bocoo.merchant.domain.vo.CustomerQuoteItemCountVo">
        SELECT tenant_id, quote_id, COUNT(*)::int AS item_count
        FROM customer_quote_item
        WHERE del_flag = '0'
          AND tenant_id IN
          <foreach collection="tenantIds" item="id" open="(" separator="," close=")">#{id}</foreach>
          AND quote_id IN
          <foreach collection="quoteIds" item="id" open="(" separator="," close=")">#{id}</foreach>
        GROUP BY tenant_id, quote_id
    </select>
</mapper>
