<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bocoo.healthbrain.mapper.HealthbrainPolicyMapper">
    
    <select id="selectCountByType" resultType="com.bocoo.healthbrain.domain.vo.HealthbrainPolicyTypeCountVo">
        select b.dict_label as dictLabel, count(a.type)  as count
        from sys_dict_data b left join healthbrain_policy a on a.type = b.dict_value
        where b.dict_type = 'brain_policy_type'
        group by b.dict_value
    </select>
    
</mapper>