<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bocoo.healthbrain.mapper.HealthbrainEnterpriseMapper">
    
    <select id="selectCountByType" resultType="com.bocoo.healthbrain.domain.vo.HealthbrainEnterpriseTypeCountVo">
        SELECT
            b.dict_label as dictLabel,
            COUNT(a.type) as count
        FROM sys_dict_data b
            LEFT JOIN healthbrain_enterprise a  ON a.type = b.dict_value
        WHERE b.dict_type = 'brain_enterprise_type'
        GROUP BY b.dict_label

    </select>
    
    <select id="selectCountByDevelopment" resultType="com.bocoo.healthbrain.domain.vo.HealthbrainEnterpriseTypeCountVo">
        SELECT
            b.dict_label as dictLabel,
            COUNT(a_split.dev_value) as count
        FROM sys_dict_data b
            LEFT JOIN (
            SELECT
            TRIM(JSON_UNQUOTE(JSON_EXTRACT(CONCAT('["', REPLACE(a.development, ',', '","'), '"]'), CONCAT('$[', idx, ']')))) as dev_value
            FROM healthbrain_enterprise a
            JOIN (
            SELECT 0 as idx UNION SELECT 1 UNION SELECT 2 UNION SELECT 3
            UNION SELECT 4 UNION SELECT 5 UNION SELECT 6 UNION SELECT 7
            ) numbers
            WHERE a.development IS NOT NULL AND a.development != ''
            ) a_split ON a_split.dev_value = b.dict_value
        WHERE b.dict_type = 'brain_enterprise_development'
        GROUP BY b.dict_label


    </select>
</mapper>